li{
  list-style-type: none;
  text-align: center;
}
body {
  vertical-align: middle;
  margin: auto;
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{

}
h2{

}
h3, h4{
  color: #62b405;
}

a {
  color: #eb1313;
}

audio.for-record {
  display: none;
}

.play-wrapper {
  display: none;
}

ul li button {
  margin-left: 20px;
}

.responsive {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;}