body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

audio.for-record {
  display: none;
}

.play-wrapper {
  display: none;
}

ul li button {
  margin-left: 20px;
}