* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    }
   

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(248, 244, 238);
    z-index: -2;
}
nav {
    color: rgb(218, 210, 210);
    position: absolute;
    top: 90%;
    left: 1%;
}
#credit {
    font-size: 17px;
    font-family: 'Gisha', 'Arial Narrow', Arial, sans-serif;
    z-index: 200;
   
}
.TAULink{
    font-size: 14px;
    color: rgb(218, 210, 210);
    font-family: Georgia, Times, 'Times New Roman';

}
section {
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 50px 50px 50px 50px  50px 50px 50px 50px 50px 50px;
}

.chalkboard img {
    
    grid-row: 3/11;
    grid-column: 5/16; 
    height: 100%;
    width: 100%;
    
}

h2 {
    align-self: center;
    justify-self: center;
    grid-row: 9/11;
    grid-column: 5/10; 
    color: whitesmoke;
    font-family:  'Gisha', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight:300;
    z-index: 1;

}

h1 {
    visibility: hidden;
    grid-row: 5/7;
    grid-column: 6/15; 
    align-self: center;
    justify-self: center;
    font-size: 100px;
    font-family: 'Segoe Print', 'Lucida Handwriting', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size-adjust: 0.58;
    transform: translate(-20%-70%);
    color: white;
    text-shadow: 3px 3px #857e7e;
    overflow: hidden;
    text-overflow: clip;
    
}

span {
    
    opacity: 0;
    transition: start 5s ease;
    transform: translateY(50px);
    display: inline-block;
    animation-duration: 4s;
    animation-delay: 2s;
}

span.fade {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}


.button1 {
    grid-row: 8/9;
    grid-column: 8/11; 
    align-self: center;
    justify-self: center;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Gisha', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
   
    }

    .button1:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    }
    .button1:active{
    color:#757373;
    border-color:#757373;
    }
    @media all and (max-width:30em){
    .button1{
    display:block;
    margin:0.4em auto;
    } }

    a.button2 {
        grid-row: 8/9;
        grid-column: 10/13; 
        align-self: center;
        justify-self: center;
        display:inline-block;
        padding:0.5em 3em;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration:none;
        font-family: 'Gisha', 'Arial Narrow', Arial, sans-serif;
        font-weight:500;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        
        }
        a.button2:hover{
        color:#DDDDDD;
        border-color:#DDDDDD;
        }
        a.button2:active{
        color:#757373;
        border-color:#757373;
        }
        @media all and (max-width:30em){
        a.button2{
        display:block;
        margin:0.4em auto;
        }
        }

    video {
        position: fixed;
        top: 40%;
        left: 0%;
        z-index: -1;
        max-width: 100%;
        height: auto;
    }
