@font-face {
  font-family: 'signikabold';
  src: url('fonts/signika-bold-webfont.woff2') format('woff2'),
       url('fonts/signika-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikamedium';
  src: url('fonts/signika-medium-webfont.woff2') format('woff2'),
       url('fonts/signika-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikaregular';
  src: url('fonts/signika-regular-webfont.woff2') format('woff2'),
       url('fonts/signika-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikalight';
  src: url('fonts/signika-light-webfont.woff2') format('woff2'),
       url('fonts/signika-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikasemibold';
  src: url('fonts/signika-semibold-webfont.woff2') format('woff2'),
       url('fonts/signika-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background: url(background/main.png);
  height: 100vh;
  align-items: center;
  background-size: 100% 100%;
  text-align: center;
  background-repeat: no-repeat;
}



.btn:hover {
  filter: brightness(85%);
}

.start-btn{
  border-radius: 60px;
  padding: 5px 10px;
  background-color: #e3910a;
  cursor: pointer;
  color: #f2e9d7;
  font-family: "signikaregular";
  border: none;
  transition-duration: 0.1s;
  font-size: 1.5rem;
  font-weight: bold;
}


#tau {
  font-family: "signikamedium";
  color: #f2e9d7;
  font-size: 30px;
  padding-top: 10%;
  display: block;
}

.lecture {
  display: inline;
  float:right;
  padding-top: 5%;
  padding-left: 3cm;
}

.ourteam {
  display: inline;
  float:left;
  padding-top: 5%;
}

#team{
  float:right;
  padding-left: 1cm;
  padding-right: 1cm;
}

#ourteam{
  padding-bottom: 1cm;
  font-family: "signikaregular";

  color: #e3910a;
  font-size: 20px;



}

#facepic{
  height: 3cm;
}

#name{
  color: #f2e9d7;

  font-family: "signikaregular";
}

#logo{
  height: 40vh;

}
