@font-face {
  font-family: 'signikabold';
  src: url('fonts/signika-bold-webfont.woff2') format('woff2'),
       url('fonts/signika-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikamedium';
  src: url('fonts/signika-medium-webfont.woff2') format('woff2'),
       url('fonts/signika-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikaregular';
  src: url('fonts/signika-regular-webfont.woff2') format('woff2'),
       url('fonts/signika-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikalight';
  src: url('fonts/signika-light-webfont.woff2') format('woff2'),
       url('fonts/signika-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signikasemibold';
  src: url('fonts/signika-semibold-webfont.woff2') format('woff2'),
       url('fonts/signika-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(/beer_quiz/graphich/background/main.png);
  background-size: 100% 100%;
  text-align: center;  
  background-repeat: no-repeat;

}

.container {
  width: 800px;
  max-width: 80%;
  height: 600px;
}

#text{
  font-family: "signikabold"; 
  font-size: 250%;
  color: #e3910a;
  padding: 0px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #F2E9D7;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
