/* the cursor should be hidden so we can show instead of it the hand graphics */
body {
    cursor: none; 
}

button {
    background-color: #d1c62d;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    cursor: none;
}

.hidden {
    visibility: hidden;
}

#hand {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.start_button {
    background-image: url('opening screen - button.png');
    background-color: transparent;
    position: absolute;
    top: 770px;
    left: 20px;
}